<!DOCTYPE html>
<html lang="<%= language %>">
    <%- include('./layout/head') %>

<body>
    <%- include('./layout/header') %>
    <% if (language == 'en') { %>
        <%- include('./en/balance') %>
    <% } else if (language == 'pt') { %>
        <%- include('./pt/balance') %>
   <% } else { %>
        <%- include('./es/balance') %>
    <% }  %>
    

    <%- include('./layout/footer') %>    
</body>