<!DOCTYPE html>
<html lang="<%= language %>">
    <%- include('./layout/head') %>

<body>
    <%- include('./layout/header') %>

    <% if (language == 'en') { %>
        <%- include('./en/essential') %>
    <% } else if (language == 'pt') { %>
        <%- include('./pt/essential') %>
   <% } else { %>
        <%- include('./es/essential') %>
    <% }  %>

    <%- include('./layout/footer') %>    
</body>