<!DOCTYPE html>
<html lang="es">
    <%- include('./layout/head') %>

<body>
    <%- include('./layout/header') %>

    <% if (language == 'en') { %>
        <%- include('./en/wellness') %>
    <% } else if (language == 'pt') { %>
        <%- include('./pt/wellness') %>
   <% } else { %>
        <%- include('./es/wellness') %>
    <% }  %>

    <%- include('./layout/footer') %>    
</body>