<!DOCTYPE html>
<html lang="{{language}}">
    <%- include('./layout/head') %>
<body>
    <% if (language == 'en') { %>
        <%- include('./en/header') %>
        <%- include('./en/wellness') %>
        <%- include('./en/footer') %>
    <% } else if (language == 'pt') { %>
        <%- include('./pt/header') %>
        <%- include('./pt/wellness') %>
        <%- include('./pt/footer') %>
   <% } else { %>
        <%- include('./es/header') %>
        <%- include('./es/wellness') %>
        <%- include('./es/footer') %>  
    <% }  %>
</body>